* {
box-sizing: border-box;
width: 100%;
background-color:#fff5ee;
}

h5 {
    font-size: 120%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:20px;
    background-color: transparent;
    border-radius: 5%;
    text-shadow: 10px 10px 5px grey;
}
h3 {
    width:auto;
    border: 1px solid rgb(151, 170, 151);
    padding: 5px;
    margin: 0px;
    background-image: url(./assest/coding.jpeg);
    text-align: left;
    color: white;
    font-size: 110%;
    font-family: serif;
}
nav a:hover {
  background-image: none;
  background-color: rgb(70, 70, 230);
  font-size:xx-large;
  font-family: monospace;
  text-shadow: 2px 2px 4px purple;
  color: blanchedalmond;
}

h1 {
  font-size: 300%;
  text-align:center;
  margin-left: 420px;
  text-shadow: 2px 2px 2px grey;
  position:absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}

.smallcontainer_cli, .smallcontainer_bus, .smallcontainer_ino, .smallcontainer_inf, .smallcontainer_com{
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    float: left;
    width: 20%;
    border: 4px solid rgb(2, 2, 5);
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;

}
.smallcontainer_bus {
  /*background-image: url(./assest/bussiness.jpeg);*/
  box-sizing: border-box;
  height: auto;
  width: 50%;
}

.smallcontainer_cli {
  /*background-image: url(./assest/clinical.jpeg);*/
  box-sizing: border-box;
  height: auto;
  width: 33.33%;
}
.smallcontainer_com {
  /*background-image: url(./assest/community\ .jpeg);*/
  box-sizing: border-box;
  height: auto;
  width: 33.33%;
}
.smallcontainer_inf {
  /*background-image: url(./assest/informatics.jpeg);*/
  box-sizing: border-box;
  height: auto;
  width: 33.33%;
}
.smallcontainer_ino {
  /*background-image: url(./assest/innovation\ .jpeg);*/
  box-sizing: border-box;
  height: auto;
  width: 50%;
}
.totalcontainer {
display: flex;
position: relative;
min-width: 100px;
flex-wrap: wrap;
justify-content:space-between;
}
.totalcontainer p {
  background-color: transparent;
  font-family:monospace;
  font-size: 110%;
  text-shadow: 2px 2px 3px grey;
}


.totalcontainer img {
opacity: 0.3;
border-radius: 10px;
}
.totalcontainer img:hover {
opacity: 1;
transform: scaleY(1.2);
}
.smallcontainer p {
    text-align: center;
  }

.contactlist {
  display: flex;
  justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#333;
}
.contactlist li {
  float:left;
  padding: 5px 2px;
}
.contactlist li a {
  display: inline-block;
  color:#ffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.active:hover {
  background-color:grey;
  font-style: italic;
  font-size: 200%;
  position: relative;
}
.active:hover::before {
content: attr(data-desc);
position: absolute;
bottom: 30px;
left: 30px;
font-size: small;
}
.active:hover::after {
  content:attr(data-email);
  position: absolute;
  top: 50px;
  right: 90px;
  font-size: small;
}
.active {
  background-color:rgb(12, 85, 85);
}
.contactme {
margin-top: 50px;
}
.headerforphoto {
  position: relative;
  text-align: center;
  color: white;
  display: flex;
}

.headerforphoto img {
  width: 100%;
  height: 300px;
  object-fit: cover
}
nav {
  display: flex;
  position: relative;
  width: 100%;
  justify-content:space-around
  }

nav a {
border-style: solid;
border-width: 2px;
border-radius: 8px;
padding: 10px;
float: center;
width: 20%;
display: flex;
justify-content:center;
color:#ffff;
text-align: center;
padding: 10px 16px;
font-size: 16px;
background-color:rgb(6, 6, 34);
text-decoration: none;
font-size: 150%;
font-family: serif;
box-shadow: 10px 10px 10px grey
  }
#subtitletext {
  font-size: 300%;
  text-align:center;
  text-shadow: 2px 2px 2px grey;
  position:absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  text-decoration: underline;
}
#subtitletext img {
  display: flex;
  position: relative;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#autobio {
  font-family: monospace;
  margin: 10px 5px;
  font-size: 120%;
}
form {
margin: 40px;
box-sizing: border-box;
  height: auto;
  width: 50%;
  height: auto;
  position: relative;
  display: flex;
  left: 20%;
  color: blue;
}
#TITLE {
text-align: center;
}

footer {
  padding: 30px;
  clear: both;
  font-family: monospace;
  text-align: center;
}
form button {
color: burlywood;
background-image: url(./assest/informatics.jpeg);
}
footer h2 {
  font-size: 20px;
}
